:root {
  --primary-background: hsl(257, 40%, 49%);
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Poppins", sans-serif;
  --body-font-color: #fff;
}

/* This website was created with using a mobile first design */

body {
  background: url("images/bg-mobile.svg") no-repeat var(--primary-background);
  font-family: var(--body-font);
  color: var(--body-font-color);
}

#container {
  margin: 10% 7%;
}

#title-img {
  width: 50%;
  margin-bottom: 2.8rem;
}

#head-img {
  width: 99%;
  margin-bottom: 2.8rem;
}

#company-info {
  width: 98%;
  text-align: center;
}
#company-info h1 {
  font-family: var(--heading-font);
}
#company-info button {
  background: var(--body-font-color);
  color: var(--primary-background);
  font-family: var(--heading-font);
  width: 70%;
  padding: 0.75rem 0;
  border-style: none;
  border-radius: 50px;
  margin-top: 0.75rem;
  margin-bottom: 3.8rem;
}

#social-icons {
  text-align: center;
}
#social-icons i {
  border: solid 1px;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.25rem;
}
#social-icons i:nth-child(1) {
  width: 16px;
}
#social-icons i:nth-child(3) {
  width: 16px;
}

@media (min-width: 767px) {
  body {
    background-image: url("images/bg-desktop.svg");
  }

  #title-img {
    width: 35%;
  }

  #head-img {
    width: 65%;
    padding-left: 108px;
    margin-bottom: 1.8rem;
  }

  #company-info button {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 1438px) {
  #container {
    margin: 2rem;
    display: grid;
    grid-template-columns: 750px 550px;
  }

  #title-img {
    width: 30%;
  }

  #head-img {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    grid-row-start: 2;
    padding-top: 3.8rem;
  }

  #company-info {
    width: 100%;
    text-align: left;
    grid-row-start: 2;
    padding-left: 3rem;
    padding-top: 5.3rem;
    line-height: 1.8;
  }
  #company-info h1 {
    font-size: 2.1rem;
    width: 75%;
  }
  #company-info p {
    width: 93%;
    margin-top: 2rem;
  }
  #company-info button {
    width: 35%;
    margin-top: 8px;
    padding: 1rem 0;
  }

  #social-icons {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: right;
  }
}
